.ourNavBar li, .detail-list li{
    display: inline-block;
    margin: 10px;
}

.detail-list li{
    display: inline-block;
    margin: 3px;
}
.detail-list{
  margin-top:5px;
}
.our-box{
  margin-bottom: 10px;
}
p.lead {
  font-weight:bold;
  font-size: 10px;
  margin: 5px 0;
}
